
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: red;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* display: flex;
  justify-content: space-around; */
}

.navbar li {
  display: inline;
  justify-content: center;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: rgb(255, 255, 255);
}

.team{
  border: 1px solid red;
  width: 1000px; 
height: 100px; 
padding: 30px;
margin: 5px; 



}
.nav-item{
  padding: 10px 125px 10px; 
  margin: .5px; 
}


