body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: red;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.navbar li {
  display: inline;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: rgb(172, 137, 137);
}

.Toastify__toast--success {
  background-color: green;
}

.Toastify__toast--error {
  background-color: red;
}

.favorite-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.favorite-item h3 {
  margin: 0;
}

.favorite-item button {
  padding: 5px 10px;
  border: none;
  background-color: #ff4c4c;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.favorite-item button:hover {
  background-color: #ff1a1a;
}
